<section id="chef-info">
  <h1><%=@chef.name %></h1>
  <%= link_to "Chef's Ingredients", chef_ingredients_path(@chef) %>
</section>

<section id="popular-ingredients">
  <h2>3 Most Popular Ingredients in <%= @chef.name%>'s Dishes</h2>
  <ol>
    <% @chef.popular_ingredients.each do |ing_name| %>
      <li><%=ing_name %></li>
    <% end %>
  </ol>
</section>